DATABASE_URL="file:./raha.db"
NEXT_PUBLIC_APP_NAME="Ahmed"
NEXT_PUBLIC_BUNDLE_ID="com.darraha.ahmed"
APP_STORE_CONNECT_ISSUER_ID="c46c0b74-7d00-42b2-9786-333b76dacf91"
APP_STORE_CONNECT_KEY_IDENTIFIER="8LM6C7D787"
